<!DOCTYPE html>	
<html>
    <head>
        <title>Check Code</title>
    </head>
    <body>
        <h1>Check Code</h1>
        <form action="/" method="POST">
            <input type="text" name="code">
            <button type="submit">Check</button>
        </form>

        {{#if code}}
            {{#if used}}
                <p>Code {{code}} has been used.</p>
            {{else}}
                <p>Code {{code}} has not been used.</p>
            {{/if}}
        {{/if}}

        {{#if checkErr}}
            <p>{{checkErr}}</p>
        {{/if}}

        <h1>Set Code to Used</h1>
        <form action="/delete" method="POST">
            <input type="text" name="code">
            <button type="submit">Set</button>
        </form>

        {{#if msg}}
            <p>{{msg}}</p>
        {{/if}}

        {{#if setErr}}
            <p>{{setErr}}</p>
        {{/if}}
    </body>
</html>